<div class="container">
    <div class="row">
      
            
   
        @foreach (var Post in ViewBag.MyPost)
        {
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div style="text-align:right">
                            <a href="/Profile/Edit?id=@Post.Id" class="btn btn-success">Düzenle</a>              
                            <button id="delete"  data-id="@Post.Id" class="btn btn-danger"><span class="glyphicon glyphicon-erase"></span>Delete</button>

                        </div>
                        <div class="col-md-2" style="text-align:center">
                            <img src="~/images/@Post.UserPıcture" style="width:100px;" /><br /><br />
                            @Post.UserName
                        </div>
                        <div class="col-md-9">
                            <div>
                                <p>@Post.PostTitle</p><br />
                            </div>
                            <br /><br />
                            @Post.PostContent<br />
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).on("click", "#delete", function () {
        var confirmDelete = confirm("Silme işlemini onaylıyor musunuz?");
        if (confirmDelete) {
            var id = $(this).attr("data-id");
            $.ajax({
                url: "/Profile/Delete/" + id,
                type: 'POST',
                success: function () {
                    alert("Silme işlemi başarılı.");
                    location.href = "/Profile/Index";
                    
                },
            });
        }
    });
</script>
